html, body {
    font-family: Helvetica, sans-serif;
    margin: 50px;

    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
    color: black;
    text-align: center;
}

h2 {
  color: #d3d3d3;
  text-align: center;
}

h3 {
  color: black;
  font-size: 1.5rem;
}

p {
    max-width: 65%;
    text-align: justify;
}

.logo {
  background-color: transparent;
}

.nome {
  background-color: transparent;
}
.banner {
  display: flex;
  flex-wrap: nowrap;
}
.banner2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #cfcfcf;
  font-size: 2.5rem;
  color: white;
}
.quote {
  text-align: center;
}
.banner3 {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  color: black;
}
