html, body {
    font-family: sans-serif;
    margin: 75;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 48px;
    color: black;
    text-align: center;
}

h2 {
  color: #d3d3d3;
  text-align: center;
}

h3 {
  color: black;
}

p {
    max-width: 65%;
    color:black;
    text-align: justify;
}

#videoprese {

  left: 50%;
}

.logo {
  background-color: transparent;
}

.nome {
  background-color: transparent;
}
.titolo {
  display: flex;
  margin-left: 300;
}
